/*
 * colors
 * dkblu: #095194
 * ltblu: #389FFF
 * mdblu: #1B81E0
 * dkgld: #945C00
 * ltgld: #E0951B
 */

header, form {
  border: 1px solid gray;
}

header {
  font-size: larger;
  color: white;
  background-color: #095194;
}

form {
  background-color: #dbdbdb;
  color: rgb(32, 32, 32);
}

label {
  display: flex;
  flex-direction: column;
}
input, select {
  box-sizing: border-box;
  margin-bottom: .5rem;
}
.app {
  display: flex;
  gap: 5px;
  padding-top: 5px;
}
.section-title {
  text-align: center;
  font-weight: 900;
  color: #945C00;
  padding: .5rem .5rem 0 .5rem;
}