@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
  border-bottom: 1px solid;
  font-size: 14pt;
  margin: 0;
}
ul {
  margin: 0;
}
span {
  cursor: pointer;
}
span:hover {
  background-color: #e0941b3f;
}
textarea {
  width: 100%;
  border: 1px solid black;
  font-size: 14px;
  outline: none;
}
.display-cv {
  font-size: 12pt;
  min-width: 8.5in;
  max-width: 8.5in;
  min-height: 11in;
  max-height: 11in;
  background-color: #fbfbf8;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  padding: .5in;
  box-sizing: border-box;
  position: relative;
}
.full-name, .contact-info {
  align-self: center;
}
.full-name {
  font-size: 24pt;
  font-weight: 900;
  text-transform: capitalize;
}
.contact-info {
  font-family: 'Roboto', sans-serif;
  display: flex;
  padding-bottom: 2rem;
}
.section {
  padding-bottom: 1rem;
}
.test {
  width: 300px;
  height: 250px;
  background-color: red;
}
.overlay {
  position: absolute;
  width: 500px;
  height: 200px;
  background-color: purple;
  transform: translate(0, 200px);
}
.bold {
  font-weight: 900;
}
.job-date {
  display: flex;
  justify-content: space-between;
}